@font-face {
  font-family: inconsolata;
  src: url(./assets/Inconsolata_Regular.ttf);
}

html {
  height: 100%;
}

body {
  font-family: inconsolata;
  overflow: hidden;
  background-color: white;
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  overflow: scroll;
  display: flex;
  flex-direction: row;
  height: 100%;
}

#rightbar {
  width: 25%;
  height: 50%;
  flex-direction: column;
  position: sticky;
  top: 20px;
  left: 20px;
}

#namebar {
  text-decoration: none;
  font-size: 20px;
}

#content {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
  overflow: auto;
}

#subcontent {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  width: 60%;
  gap: 10px;
}

#subcontent b {
  display: flex;
  font-size: 30px;
  align-items: space-around;
}

#gallery {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: space-around;
  gap: 10px;
}

#gallery a {
  aspect-ratio: 1/1;
  display: flex;
  width: 30%;
}

#gallery a img {
  object-fit: contain;
  display: flex;
  width: 100%;
}
